<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<div class="container w-75 m-3 p-3 mx-auto">
    <form action="/login" method="POST">
        <% if(errorMessage){%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%= errorMessage %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <%}%>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'is-invalid' : '' %>" id="email" aria-describedby="email" name="email" value="<%= oldInput.email %>"/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'is-invalid' : '' %>" id="password" aria-describedby="password" name="password" value="<%= oldInput.password %>"/>
        </div>
        <div class="d-flex justify-content-center m-4">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit" class="btn btn-primary btn-block w-50">Login</button>
        </div>
        <div class="d-flex justify-content-center">
            <a href="/reset" class="btn btn-link">Reset Password</a>
        </div>
    </form>
</div>
<%- include('../includes/end.ejs') %>

